<h3>Create Teams</h3>
<form action="/teams" method="POST">
  <input type="text" name="sport" placeholder="Sport:">
  <input type="number" name="num_of_players" placeholder="How Many Players:">
  <input type="text" name="location" placeholder="Tean Location:">
  <input type="text" name="team_name" placeholder="Team Name:">
  <input type="submit" value="Sign Up">
</form>
