<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Teams Index</h1>
    <p> <a href="/teams/new">Create Team</a></p>
    <p> <a href="/allteams">All Teams</a></p>
    <p> <a href="/teams/1"> Your Teams </p>

  </body>
</html>

