<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body>
    
    <h1>Username or Password was incorrect.</h1>
    <hr>
    </br>
    <p> Please make sure that you have entered your credentals in correctly and try to <a href="login">Log In</a> again.</p>
    <p> If you do not have an account, then please <a href="signup">Sign Up</a> </p> 
  </body>
</html>