<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
<body id="page-top">
<h5> Don't have an account? <a href="signup">Click here</a> </h5> 
</br><hr> 
<center><h1>Login</h1>
<form action="/login" method="POST">
<label for="username">Username:</label>
  <input type="text" name="username"> 
  </br>
  <label for="username">Password:</label>
  <input type="password" name="password">
  </br>
  <input type="submit" value="Log In">
</form></center>
  </body>
</html>

