<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body>
    <h1>An important credential was left blank.</h1>
    <hr>
    </br>
    <p> Please make sure that everything is filled in and try to <a href="signup">Sign Up</a> again.</p> 
  </body>
</html>