<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
<body id="page-top">
<h5> Have an account? <a href="login">Click here</a> </h5> 
</br><hr> 
 <center><h1>Sign Up</h1>
  <hr> </br>
<form action="/signup" method="POST">
<label for="username">Username:</label>
  <input type="text" name="username">
  </br>
  <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" name="email">
  </br>
  <label for="password">Password:</label>
  <input type="password" name="password">
  </br>
  <input type="submit" value="Sign Up">
</form></center>
  </body>
</html>

