<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body>
    
    <h1>Welcome to Team Tracker!</h1>
    <hr>
    </br>
    <p> If you do not have an account, then please <a href="signup">Sign Up</a> </p> 
    <p> If you own an account, you can continue with a <a href="login">Log In</a>. </p>

  </body>
</html>